@* @model IEnumerable<Ktralan2_02.Models.LoaiHang>
@foreach (var item in Model)
{
    // Thêm class để bắt sự kiện AJAX cho Câu 4
    <li>
        <a href="#" onclick="showProducts(@item.MaLoai); return false;">
            @item.TenLoai
        </a>
    </li>
} *@